@import "./section.scss";

.footer {
  background-color: $fa;
  position: absolute;
  text-align: center;
  color: $bl;
  top: 101%;
  width: 100%;
}

.footer-p {
  padding: 0.7rem;
}

.link {
  color: $bl;
}
