@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
$bl: #212125;
$ylow: #fbd46d;
$bg: #eee;
$fa: #fafafa;
$cc: #ccc;
@mixin btn {
  background-color: $ylow;
  color: $bl;
  min-width: 15rem;
  padding: 1rem;
  border: none;
  border-radius: 5rem;
  font-size: 0.9rem;
  margin: 2rem auto;
  cursor: pointer;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

body {
  margin: 0;
  padding: 0;
  background-color: $bg;
  font-family: "Nunito", sans-serif;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 25rem;
  background-color: $fa;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  border-radius: 0.5rem;
  .title-div {
    margin: 2rem auto;
    text-align: center;
    font-size: 1.2rem;
    color: $bl;
    .title {
      margin: auto;
    }
    .title_2 {
      margin: auto;
    }
  }
  .txt {
    color: $bl;
    margin: 1.05rem auto;
    font-size: 1.08rem;
    max-width: 19rem;
  }
  .inp {
    margin: 0 auto;
    padding: 1.1rem 1rem;
    min-width: 17rem;
    background-color: $fa;
    border: 1px solid $cc;
    border-radius: 0.5rem;
    font-size: 0.9rem;
  }
  .inp:focus {
    outline-color: $ylow;
  }
  .btn {
    @include btn;
  }
  .out {
    margin: 0.05rem auto;
    padding: 1rem 1rem;
    align-items: center;
    max-width: 17rem;
    min-width: 17rem;
    max-height: 1.1rem;
    min-height: 1.1rem;
    font-size: 1rem;
    background-color: $fa;
    color: $bl;
    border-radius: 0.5rem;
    border: 1px solid $cc;
  }
  .out:focus {
    outline-color: $ylow;
  }
}

@media only screen and (max-width: 425px) {
  body {
    background-color: $fa;
  }
}

@media only screen and (max-width: 300px) {
  .menu {
    max-width: 15rem;
    .inp {
      min-width: 13rem;
    }
  }
}
