$bl: #212125;
$ylow: #fbd46d;
$bg: #eee;
$fa: #fafafa;
$cc: #ccc;

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.main {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  &--div {
    display: flex;
    flex-direction: column;
    &__p {
      font-size: 3rem;
      font-weight: 600;
      text-align: center;
      color: #434343;
    }
    &__label {
      margin-top: 2rem;
      font-size: 1.3rem;
      max-width: 20rem;
      color: #585858;
    }
    &__input {
      margin-top: 2rem;
      margin-bottom: 2rem;
      background-color: #fafafa;
      padding: 1rem;
      color: #585858;
      border: none;
      font-size: 1rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      &:focus {
        outline: none;
      }
    }
    &__button {
      padding: 1rem;
      border: none;
      color: #585858;
      font-size: 1rem;
      cursor: pointer;
      background-color: #83f3bd;
      transition-duration: 0.5s;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      &:hover {
        background-color: #a0f3cb;
      }
    }
  }
  &--ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    margin: 1rem auto;
    &__li {
      display: flex;
      max-width: 100%;
      transition-duration: 0.5s;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      margin: 1rem 0;
      padding: 1rem 1rem;
      background-color: #fafafa;
      &--p {
        flex: 1;
        font-size: 1rem;
        color: #585858;
      }
      &--btn {
        color: #585858;
        background-color: #fafafa;
        margin-left: 1rem;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        &:hover {
          color: #fb6d6d;
        }
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  .main {
    max-width: 20rem;
    margin: 4rem auto 2rem auto;
  }
}
